---
// Imports
import Header from "../components/Header.astro";
import Tile from "../components/Tile.astro";
import { getCollection } from 'astro:content';

// Const

const companies = await getCollection('companies');
const personas = await getCollection('personas');
const factions = await getCollection('factions');
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Infinite Space</title>
	</head>
    <header><Header/></header>
	<body>
		<div class="main-container">
			<h1>Wiki</h1>
			<div id="company-container">
				<h3>Firmen</h3>
				<div class="tile-container">
				
					{
						companies.map((company) => (
							<Tile title={company.data.title} url={`/companies/${company.slug}`}/>
						))
					}
				</div>
			</div>
			<div id="persona-container">
				<h3>Personas</h3>
				<div class="tile-container">
			
					{
						personas.map((persona) => (
							<Tile title={persona.data.name} url={`/personas/${persona.slug}`} icon={persona.data.icon}/>
						))
					}
				</div>
			</div>
			<div id="faction-container">
				<h3>Fraktionen</h3>
				<div class="tile-container">
			
					{
						factions.map((faction) => (
							<Tile title={faction.data.title} url={`/personas/${faction.slug}`} icon={faction.data.icon}/>
						))
					}
				</div>
			</div>
			
		</div>
		
		
	</body>
</html>

<style lang="scss">

	@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

	:root {
		--background-color: #18191a;
		--heading-color: #b1cadb;
		--font-color: #5b6b75;
		--font: 'Open Sans', sans-serif;
	}

	body {
		margin: 0;
		padding: 0;
		background-color: var(--background-color);
	}

	h1, h2, h3, a, p, i {
		font-family: var(--font);
	}

	a, p, i {
		color: var(--font-color);
	}

	h1, h2, h3 {
		color: var(--heading-color);
	}
	
	a {
		text-decoration: none;
	}
	
	ul {
		color: var(--heading-color);
	}
	.main-container {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;
		
	}
	#company-container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		border: rgba(60, 27, 190, 0.7) 2px;
		border-style: solid;
		border-radius: 5px;
		background-color: rgba(60, 27, 190, 0.7);
	}

	#persona-container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		border: rgba(190, 27, 27, 0.7) 2px;
		border-style: solid;
		border-radius: 5px;
		background-color: rgba(190, 27, 27, 0.7);
	}

	#faction-container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		border: rgba(38, 230, 20, 0.7) 2px;
		border-style: solid;
		border-radius: 5px;
		background-color: rgba(38, 230, 20, 0.7);
	}
	
	.tile-container {
		justify-content: center;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		gap: 3px;
		width: 612px;
		height: auto;
	}
</style>